{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
    <link rel="stylesheet" type="text/css" href="{% static "/style.css/" %}">
</head>
<body style="background-color: rgb(237, 245, 80);">
    <h1 style="color:darkblue" style="font:bold"><center>Primer MVT - Nahuel Zeballos</center></h1>
    <h2><center>FAMILIARES:</center></h2>
    <p>
        <center>Uno de mis familiares es: {{familiar1.nombre}}, es mi {{familiar1.parentesco}}, tiene {{familiar1.edad}} años y nació el {{familiar1.fecha_nacimiento}}</center><br>
        <center>Uno de mis familiares es: {{familiar2.nombre}}, es mi {{familiar2.parentesco}}, tiene {{familiar2.edad}} años y nació el {{familiar2.fecha_nacimiento}}</center><br>
        <center>Uno de mis familiares es: {{familiar3.nombre}}, es mi {{familiar3.parentesco}}, tiene {{familiar3.edad}} años y nació el {{familiar3.fecha_nacimiento}}</center><br>

    </p>
</body>
</html>